altgraph==0.17.2
asgiref==3.5.1
autopep8==1.6.0
beautifulsoup4==4.11.1
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.4
django-heroku==0.3.1
filelock==3.7.1
future==0.18.2
gunicorn==20.1.0
numpy==1.22.4
package-name==0.1
pandas==1.4.2
pefile==2021.9.3
Pillow==9.1.1
platformdirs==2.5.2
psycopg2==2.9.3
pycodestyle==2.8.0
pycryptodome==3.14.1
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.5
python-dateutil==2.8.2
pytz==2022.1
pywin32-ctypes==0.2.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
toml==0.10.2
tzdata==2022.1
whitenoise==6.2.0
